@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

    <link rel="stylesheet" href="/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/wwwroot/css/General.css" />

</head>

<body>
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="Principal.html">Principal</a>
            <a class="navbar-brand" href="nosotros.html">Nosotros</a>
            <a class="navbar-brand" href="#">Servicios</a>
            <a class="navbar-brand" href="#">Citas</a>
            <a class="navbar-brand" href="#">Comentarios Clientes</a>
            <a class="navbar-brand" href="contacto.html">Contacto</a>
            <a class="navbar-brand" href="#">Empleados</a>
        </div>
    </nav>

    <main>
        <div class="contenido">
            <div class="caja1">
                <h1>Contactanos</h1>
                <p>
                    Si necesita contactar directamente con nosotros mande mensaje al: <br>
                    999-999-999<br>
                    O un correo al:<br>
                    DienteFuerte@ejemplo.com
                </p>
            </div>
        </div>
    </main>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted"> Copyright &copy; 2024 Todos los derechos reservados / Privacidad / Condiciones de Uso / Cookies</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://twitter.com"><svg width="24" height="24"><image href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/X_logo_2023.svg/450px-X_logo_2023.svg.png" width="20" height="20" /></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="https://instagram.com"><svg width="24" height="24"><image href="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg" width="20" height="20" /></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="https://facebook.com"><svg width="24" height="24"><image href="https://www.logo.wine/a/logo/Facebook/Facebook-f_Logo-Blue-Logo.wine.svg" width="20" height="20" /></svg></a></li>
            </ul>
        </footer>
    </div>


    <script src="/wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>